*,
*::before,
*::after {
    
    box-sizing: border-box;
}

.darkmode{
    --azul-escuro: #001128;
    --azul-medio: #7b848f;
    --azul-claro:#212427;
    --cinza-texto: #dcd7d7;
    --cinza-claro: #131212;
}

body {
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #555555;
    --cinza-claro: #ECECEC;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    transition: 2s;
}

/* CABEÇALHO */

.cabecalho__container {
    background-color: var(--azul-claro);
    height: 80px;
    width: 100%;
    padding: 0 25px;
    transition: 2s;
}

.logo__item {
    background-image: url(../img/cabecalho/Logo.png);
    background-repeat: no-repeat;
    padding: 15px 65px;
    cursor: pointer;
}

.pesquisar__input {
    width: 400px;
    height: 32px;
    border: 1px solid var(--cinza-claro);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid var(--cinza-texto);
    background-color: var(--azul-claro);
    border-radius: 25px;
    color: var(--cinza-texto);
}

.pesquisar__label:hover{
    padding: 3.2px 8.2px;
    margin-left: 10px
}

.pesquisar__label {
    background-image: url(../img/cabecalho/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--azul-claro);
    background-color: var(--azul-claro);
    border-left: none;
    padding: 8px 18px 5px;
    cursor: pointer;
}

.pesquisar__botao {
    cursor: pointer;
}

.mensagem__titulo{
    font-size: 2em;
    font-weight: bold;
    color: var(--cinza-texto);
    padding: 3em 3em 50em 3.5em;
}

.cabecalho__audio {
    background-image: url(../img/cabecalho/mic.png);
    padding: 20px;
    display: none;
}

.cabecalho__videos {
    background-image: url(../img/cabecalho/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.cabecalho__apps {
    background-image: url(../img/cabecalho/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__notificacoes {
    background-image: url(../img/cabecalho/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__avatar {
    background-image: url(../img/cabecalho/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__Dark {
    background-image: url(../img/cabecalho/moon.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 25px 13px 13px;
}   

/* MENU LATERAL */

.menu__container {
    background-color: var(--azul-escuro);
    font-size: 14px;
    transition: 2s;
}

.menu__itens:hover {
    background-color: var(--azul-medio);
    transition: .5s;
}

.icone__inicio::before {
    content: url(../img/menu/home.png);
}

.icone__explorar::before {
    content: url(../img/menu/explore.png);
}

.icone__shorts::before {
    content: url(../img/menu/shorts.png);
}

.icone__inscricoes::before {
    content: url(../img/menu/subscriptions.png);
}

.icone__biblioteca::before {
    content: url(../img/menu/video_library.png);
}

.icone__historico::before {
    content: url(../img/menu/history.png);
}

.icone__relogio::before {
    content: url(../img/menu/history_toggle_off.png);
}

.icone__like::before {
    content: url(../img/menu/thumb_up_alt.png);
}

.icone__alura::before {
    content: url(../img/menu/Avatar_Alura.png);
}

.icone__gaveta::before {
    content: url(../img/menu/Avatar_Gaveta.png);
}

.icone__ballerini::before {
    content: url(../img/menu/Avatar_Rafa.png);
}

.icone__iamarino::before {
    content: url(../img/menu/Avatar_Atila.png);
}

.icone__souto::before {
    content: url(../img/menu/Avatar_Souto.png);
}

.icone__nerd::before {
    content: url(../img/menu/Avatar_Jovem_Nerd.png);
}

.icone__deschamps::before {
    content: url(../img/menu/Avatar_Deschamps.png);
}

.icone__mostrar::before {
    content: url(../img/menu/keyboard_arrow_down.png);
}

.icone__videos::before {
    content: url(../img/menu/videos.png);
}

.icone__filmes::before {
    content: url(../img/menu/filmes.png);
}

.icone__jogos::before {
    content: url(../img/menu/jogos.png);
}

/* SECAO SUPERIOR */

.superior__secao__container {
    height: 63px;
    color: var(--azul-claro);
    font-size: 16px;
    background-color: var(--azul-claro);
    padding: 0 20px;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
}

.superior__item {
    color: var(--cinza-texto);
    font-size: 16px;
    background-color: var(--azul-claro);
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}

.superior__item:hover {
    color: var(--cinza-texto);
    background-color: var(--azul-escuro);
    transition: .5s;
}

/* SEÇÃO VÍDEOS */

.videos__container {
    color: black;
    padding: 153px 20px 10px 20px;
    transition: 2s;
}
.videos__item{
    transition: 2s;
}

.videos__item iframe:hover {
    border-radius: 0%;
    cursor: pointer;
    padding: 5px;
    transition-timing-function: cubic-bezier(0,0,0,1);
}

.imagem_perfil{
    border-radius: 25px;
    width: 36px;
}

.descricao-video h3 {
    font-weight: 700;
    color: var(--cinza-texto);
}

.descricao-video p {
    font-size: 14px;
    color: var(--cinza-texto);
}

/* RODAPÉ */

.rodape__container {
    width: 100%;
    height: 875px;
    color: var(--cinza-texto);
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--azul-claro);
    transition: 2s;
}

.rodape__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    padding: 10px 0 20px 0;
}

@media(min-width: 834px) {

    body {
        height: 100vh;
    }

    /* ESTILOS DO MENU LATERAL */

    .menu__container {
        font-size: 16px;
    }

    .menu__lista {
        padding-top: 15px;
    }

    .menu__lista li {
        width: 100%;
    }

    /* ESTILOS DA SECAO SUPERIOR */

    .superior__secao__container {
        border-top: var(--azul-medio) 1px solid;
        border-bottom: var(--azul-medio) 1px solid;
        width: auto;
        left: 82px;
    }

    /*ESTILOS SEÇÃO VÍDEOS */

    .videos__container {
        padding-left: 90px;
        padding-right: 17px;
    }


    /* ESTILOS RODAPÉ */

    .rodape__container {
        height: 420px;
        padding-left: 74px;
    }

}

@media(min-width: 1440px) {

    /* SEÇÃO SUPERIOR */

    .superior__secao__container {
        left: 247px;
    }

    /* ESTILOS DO MENU LATERAL */

    .menu__lista {
        border-bottom: 1.5px solid var(--azul-medio);
    }

    /* ESTILOS VIDEOS */

    .videos__container {
        padding-right: 10px;
        padding-left: 248px;
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        padding-left: 240px;
        height: 225px;
    }

}

.cabecalho__apps, .cabecalho__audio, .cabecalho__avatar, .cabecalho__container, .cabecalho__Dark, .cabecalho__notificacoes, .cabecalho__videos, .darkmode,
.descricao-video, .rodape__container, .menu__lista, .superior__item, .videos__container, .superior__secao__container, .pesquisar__input, .pesquisar__label{
    transition: 2s;
}

.superior__item, .superior__secao__container, .rodape__container, .rodape__titulo{
    color: var(--cinza-texto)
}